<!DOCTYPE html>
<html>
  <head>
    <title>Log In</title>
    <link rel="stylesheet" type="text/css" href="/static/login.css">
  </head>
  <body>
    <div class="container">
      <h1>EaseMyTrip</h1>
      <h2>Login Page</h2>
      {% include 'flash_messages.html' %}
      {% if error %}
        <p class=error><strong>Error:</strong> {{ error }}
      {% endif %}
      {% from "_formhelpers.html" import render_field %}
      <form method=post>
        <dl>
          {{ render_field(form.username) }}
          {{ render_field(form.password) }}
        </dl>
          <p><input type=submit value=Login>
      </form>
    </div>
    <div class="register">
      <p>Don't have an account?</p>
      <a href="/register">Register</a>
    </div>
    {% include 'footer.html' %}
  </body>
</html>

  


